<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsl.mybatis.mapper.TeacherMapper">
	<!-- 调用存储过程，实现分页查询 -->
	<select id="partTeachers" parameterType="PaginationBean" statementType="CALLABLE">
		{call pro_pagination(#{currPage},#{pageSize},
		#{total,mode=OUT,javaType=Int,jdbcType=INTEGER},
		#{totalPage,mode=OUT,javaType=Int,jdbcType=INTEGER},
		#{rows,mode=OUT,jdbcType=CURSOR,resultMap=TeacherMap})}
	</select>
	<resultMap type="Teacher" id="TeacherMap">
	 <id column="id" property="id"/>
	 <result column="name" property="name"/>
	</resultMap>
</mapper>