@charset "utf-8";
body{
	
	width:auto;
	height:autol;
}
ul,li{
	list-style:none;
	}
#booktext{
	float:left;
	margin-left:200px;
	width:1000px;
	background-image:url(../images/back3.jpg); 
}
#booktext span{
	font-size:20px;
	}
#booktext span p{
	margin-left:20px;
	margin-right:20px;
	}

#r a{
	
	color:#008080;
	text-decoration:none;
}
#mymenu{
	font-size:18px;
	
}
#mymenu a{
	color:#008080;
	text-decoration:none;
}
