
@charset "utf-8";

/* CSS Document */
*{
	margin:0px auto;
	padding:0px;
	font-size:14px;
	font-style:normal;
}

body{
	background-color:#FBFAF8;
	font-style:normal;
}
#box{
	height:1000px;
	font-style:normal;}
ul,li{
	list-style:none;
}
#header{
	width:1184px;
	height:32px;
	border-bottom:#FFF 2px solid;
}
#header ul{
	margin-left:800px;
}
.red a{
	color:#999;
	display:block;
	text-decoration:none;
	border-right:#999 1px solid;
	}
#header li{
	float:left;
	width:70px;
	text-align:center;
	margin-top:5px;
	text-decoration:none;
}
#header li a:hover{
	color:#F00;
	text-decoration:none;
}

#search{
	width:884px;
	border-bottom:solid 1px #FBFAF8;
}
#search ul li{
	display:inline-block;
	float:left;
}
#search ul li input:first-child{
	margin-left:250px;
	margin-top:20px;
	border-radius: 25px;　　/*设置输入框两边的边框半径，可以使两边变成弧形*/
	outline: none;
	color:#999;
}
#menu{
	clear:both;
	width:1084px;
	height:48px;
	margin-top:30px;
	background-color:#F98235;
	color:#FFF;

}
#menu ul{
	margin-top:20px;
	margin-left:95px;
}
#menu li{
	width:150px;
	height:50px;	
	float:left;
	text-align:center;
}

#menu li a{
	display:inline-block;
 	color:#FFF;
    font-size:16px;
	padding-left:10px;
	padding-top:10px;
	text-decoration:none;/*去除超链接的下划线*/	
}
#menu li a:hover{
	color:#666;
}
#left ul{
	width:300px;
	height:500px;
	float:left;
}
#left ul li{
	width:147px;
	text-align:center;
	}
.item span{
	display:block;
	}

#left li.ite{
	background:#CF0;
	}

#wk{
	width:1084px;
	height:600px;
	margin-top:30px;
	color:#FFF;
	border-bottom:1px solid #CCC;
}
#left{
	float:left;
	width:280px;
	height:590px;
	color:#FFF;
	border-right:1px solid #CCC;
}
#right{
	float:right;
	width:750px;
	height:590px;
	color:#FFF;
}
#left h2 {
    color: #afa298;
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 5px;
    padding-left: 28px;
}
h1{
	font-size:24px;
	line-height: 1.5em;
}
#left li a{
    font-size: 16px;
    height: 50px;
	color:#963;
    line-height: 50px;
	display:inline-block;
	text-decoration:none;/*去除超链接的下划线*/	

}
a{
	color:#963;
	text-decoration:none;/*去除超链接的下划线*/	
	}
a:hover{
	color:#F93;
}
#left li a:hover{
	color:#F93;
}
#rh{
	border-bottom:1px solid #999;}
	
.container{
	height:550;
}
.infomation{
	margin-top:50px;
	margin-left:150px;
}

.infomation input{
	font-size:18px;
}
.infomation button{
	background-color:#F93;
	padding:8px;
	color:#FFF;
	border-radius:30px;
	margin-left:230px;
	}
.u-colslist {
    position: relative;
	margin-top:30px;
	margin-left:50px;
}
.u-colslist li {
    float: left;
	width:350px;
	height:160px;
	
}
.u-colslist1 li {
    float: left;
    padding: 10px 10px 30px 44px;
    position: relative;
    width: 434px;
}
.u-colslist1 .rnum {
    display: none;
}
.u-colslist1-1 li {
    padding: 0 0 45px 79px;
    width: 400px;
}
.u-colslist1-1 .rnum {
    display: block;
    font: 400 18px/20px "Century Gothic";
    left: 42px;
    position: absolute;
    top: 5px;
    width: 38px;
}
.u-colslist1-1 .hot {
    color: #ed6c00;
    font-weight: 700;
}
.u-colslist2 {
    border-right: 1px solid #ebe7e2;
    padding-right: 21px;
}
.u-colslist2 .u-bookitm1 {
    float: left;
    margin-bottom: 30px;
    padding: 0 15px;
}
.u-colslist2 .u-bookitm1 .wrap {
    width: 180px;
}
.u-list .u-bookitm1 {
    border-bottom: 1px dashed #e2dcd7;
    padding: 24px 0 16px;
    position: relative;
}
.u-list .u-bookitm1 .wrap {
    height: 80px;
    padding-right: 110px;
}
.u-list .u-bookitm1 .act {
    line-height: 30px;
    position: absolute;
    right: 0;
    top: 20px;
    width: 80px;
}
.u-list .u-bookitm1 .desc {
    height: 3em;
    overflow: hidden;
}
.u-list .u-bookitm1 .act a, .u-list .u-bookitm1 .act span {
    display: block;
    float: none;
    margin: 0 auto;
    text-align: right;
}
.u-bookitm0 {
    width: 119px;
}
.u-bookitm0 .book, .u-bookitm1 .book {
    display: block;
    position: relative;
    width: 116px;
}
.u-bookitm0 .book:hover .title, .u-bookitm1 .book:hover .title {
    color: #ed6c00;
}
.u-bookitm0 .cover, .u-bookitm0 .cover img, .u-bookitm1 .cover, .u-bookitm1 .cover img, .u-commitm .cover, .u-commitm .cover img {
    display: block;
    height: 128px;
    width: 96px;
}
.u-bookitm0 .cover, .u-bookitm1 .cover, .u-commitm .cover {
    background-position: 0 0;
    margin-bottom: -4px;
    padding: 4px 10px 16px;
}
.u-bookitm0 .title {
    display: block;
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    padding: 0 0 0 10px;
}
.u-bookitm0 .info {
    line-height: 18px;
    padding: 5px 0 0 10px;
}
.u-bookitm0 .icn-free, .u-bookitm0 .icn-limitfree, .u-bookitm0 .icn-special, .u-bookitm1 .icn-free, .u-bookitm1 .icn-limitfree, .u-bookitm1 .icn-special {
    position: absolute;
    right: 0;
    top: 0;
}
.u-bookitm0 .u-btn {
    font-size: 12px;
    margin-top: 8px;
}
.u-bookitm0-1 {
    width: 240px;
}
.u-bookitm0-1 a {
    display: block;
}
.u-bookitm0-1 .cover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.u-bookitm0-1 .cover, .u-bookitm0-1 .cover img {
    height: 240px;
    margin: 0 auto;
    width: 180px;
}
.u-bookitm0-1 h3 {
    font-size: 16px;
}
.u-bookitm1 .book {
    float: left;
    margin-right: -126px;
}
.u-bookitm1 .book .buy-status {
    color: #999;
    position: absolute;
    text-align: center;
    top: 143px;
    width: 116px;
}

.u-bookitm1 .info {
    margin: 4px 0 0 126px;
}
.u-bookitm1 .wrap {
    height: 80px;
    margin-top: 3px;
    overflow: hidden;
}
.u-bookitm1 .title, .u-bookitm2 .title {
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin: 3px 0 5px;
    max-height: 36px;
    overflow: hidden;
}
.u-bookitm1 .desc {
    color: #666;
}
.u-bookitm1 .u-author, .u-bookitm2 .u-author {
    color: #999;
    padding: 3px 0;
}
.u-bookitm1 .act .u-btn2, .u-bookitm1 .act .u-btn-disable, .u-bookitm1 .act .icn-cart, .u-bookitm1 .act .icn-cart-chk, .u-bookitm1 .act .icn-heart, .u-bookitm1 .act .icn-heart-chk, .u-bookitm1 .act .icn-quan {
    float: left;
}
.u-bookitm1 .act .u-btn2, .u-bookitm1 .act .u-btn-disable {
    line-height: 30px;
    margin-right: 15px;
    width: 42px;
}
.u-bookitm1 .act .icn-cart, .u-bookitm1 .act .icn-cart-chk, .u-bookitm1 .act .icn-heart, .u-bookitm1 .act .icn-heart-chk {
    margin-right: 8px;
}
.u-bookitm2 {
    margin-bottom: 20px;
}
.u-bookitm2 .book {
    float: left;
    margin-right: -90px;
}
.u-bookitm2 .cover, .u-bookitm2 .cover img {
    height: 100px;
    width: 75px;
}
.u-bookitm2 .info {
    margin: 0 0 0 90px;
}
.u-commitm .book {
    float: left;
    margin-right: -126px;
}
.u-commitm .info {
    margin: 0 0 0 126px;
}
.u-commitm .wrap {
    height: 125px;
    margin-top: 3px;
    overflow: hidden;
}
.u-commitm .status {
    display: block;
    text-align: center;
    width: 116px;
}
.u-commitm .title {
    line-height: 20px;
    overflow: hidden;
    padding: 5px 0;
    width: 100%;
}
.u-commitm .user, .u-commitm .date {
    font-size: 12px;
}
.u-commitm .desc {
    color: #666;
    margin: 5px 0 0;
    overflow: hidden;
    position: relative;
}
.u-commitm .link:hover {
    color: #000;
}
.u-commitm .link:hover > * {
    color: #000;
}
.u-comminfo {
    color: #a6978a;
    margin-top: 19px;
    position: relative;
}
.u-comminfo .act {
    position: absolute;
    right: 0;
    top: 0;
}
.u-comminfo .act .itm, .u-comminfo .act .u-sep {
    float: left;
}
.u-comminfo .act a {
    color: #a6978a;
    display: block;
    padding-left: 18px;
    position: relative;
}
.u-comminfo .act .icn-smile, .u-comminfo .act .icn-talk {
    left: 0;
    position: absolute;
    top: 1px;
}
.u-comminfo .act .icn-talk {
    top: 2px;
}
.u-comminfo .selected a:hover {
    color: #a6978a;
    cursor: default;
}	
.u-author {
    color: #666;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.u-author span {
    margin-right: 5px;
}	
span{
	color:#999;}
	
	
	
#footer{
 	width:1184px;
 	height:100px;
	margin-top:20px;
  	}	
#aboutUs{
	width:100%;
	height:50px;
   	}
		
#aboutUs ul li{
	float:left;
	width:70px;
	text-align:center;
	margin-top:5px;
	margin-left:20px;
 	}
 
.qwer a{
	color:#999;
	display:block;
	text-decoration:none;
	border-right:#999 1px solid;
 	}
.qwer a:hover{
	color:#666;
	display:block;
	text-decoration:underline;
  	}
		
#allRight{
	width:100%;
	height:50px;

   	}
#allRight a{
	margin-left:25px; 
   	}





