<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.novel.mapper.BookMapper">
	<select id="findAllBooks" resultType="Book">
		select * from book
	</select>

	<resultMap type="PaginationBean" id="PaginationBeanMap">
		<collection property="rows"
			column="{pageSize=pageSize,currPage=currPage}" ofType="Book" select="getBooks" />
	</resultMap>

	<select id="findPartBooks" parameterType="PaginationBean"
		resultMap="PaginationBeanMap">
		select count(1) total,ceil(count(1)/${pageSize})
		totalPage,${pageSize} pageSize,${currPage} currPage from book
	</select>

	<select id="getBooks" resultType="Book">
		select * from (select
		n.*,rownum rn from
		(select * from book order by 1) n where
		${pageSize}*${currPage}>=rownum)
		where rn>${pageSize}*(${currPage}-1)
	</select>

	<update id="updateBook" parameterType="Book">
		update book
		<set>
			<if test="bname!=null">bname=#{bname},</if>
			<if test="bdesc!=null">bdesc=#{bdesc},</if>
			<if test="bdate!=null">bdate=#{bdate},</if>
			<if test="bcopyright!=null">bcopyright=#{bcopyright},</if>
			<if test="burl!=null">burl=#{burl},</if>
			<if test="bauthor!=null">bauthor=#{bauthor},</if>
			<!-- <if test="ssid!=null">ssid=#{ssid},</if> -->
			<if test="bpic!=null">bpic=#{bpic}</if>
		</set>
		where bid=#{bid}
	</update>

	<!-- <insert id="insertBook" parameterType="Book"> <selectKey order="BEFORE" 
		keyColumn="ssid" keyProperty="ssid"> select ssid from types where sname=#{sname} 
		</selectKey> insert into book values() </insert> -->

	<insert id="insertBook" parameterType="java.util.Map">
		<selectKey order="BEFORE" keyColumn="ssid" keyProperty="ssid"
			resultType="string">
			select ssid from types where sname=#{sname}
		</selectKey>
		insert into
		book(bid,bname,bdesc,bdate,bcopyright,burl,bauthor,ssid,bpic)
		values('B'||seq_bid.nextval,#{book.bname},
		#{book.bdesc},#{book.bdate},#{book.bcopyright},#{book.burl},
		#{book.bauthor},#{ssid},#{book.bpic})
	</insert>

	<delete id="deleteBooks" parameterType="Book">
		delete from book where
		bid=#{bid}
	</delete>

	<select id="bookSSid" parameterType="Book" resultType="Book">
		select *
		from book where ssid=#{ssid}
	</select>

	<select id="bookTypes" parameterType="Book" resultType="Book">
		select *
		from types where tid=(select ssid from book where ssid=#{ssid})
	</select>
	<delete id="delBooks" parameterType="string">
		delete from book where bid=#{bid}
	</delete>

	<select id="findBookBySort" parameterType="String" resultType="Book">
		<!-- select * from books where bname = #{bname} -->
		select b.* from book b inner join types t on b.ssid = t.ssid and
		t.sname = #{bookSortName}
	</select>


	<select id="findBookById" parameterType="String" resultType="Book">
		select * from book b where b.bid = #{bookId}
	</select>







</mapper>