<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.novel.mapper.CollectsMapper">
	<insert id="add" parameterType="Collects">
	insert into collects(usid,bid,udate) values(#{usid},#{bid},#{udate})
	</insert>


	<!-- 获取图书的收藏量 -->
	<select id="collectsCount" resultType="Collects">
		select c.bid,count(*) a from collects c group by c.bid
	</select>

	<!-- 查询日榜单 -->
	

	<!-- 查询月榜单 -->
	<select id="monthList" resultType="Book">
		select substrb(b.bdate,-7,8) from book b group by substrb(b.bdate,-7,8)
		
	</select>

	<!-- 查询最新榜单 -->
	<select id="latestList" resultType="Book">
		select b.bname,b.bauthor,b.bdate,b.bpic from book b order by b.bdate desc
	</select>
	
	<resultMap type="Collects" id="CollectsMap">
		<id column="bid" property="bid" />
		<id column="usid" property="usid" />
		<result column="udate" property="udate" />
		<!-- 集合与多条记录映射，ofType是指集合泛型的类型 -->
		<!-- <collection property="book" ofType="Book">
			<id column="bid" property="bid" />
			<result column="bpic" property="bpic" />
			<result column="bname" property="bname" />
			<result column="bauther" property="bauther" />
		</collection> -->

		<association property="book" column="bid" javaType="Book">
			<id column="bid" property="bid" />
			<result column="bpic" property="bpic" />
			<result column="bname" property="bname" />
			<result column="bauthor" property="bauthor" />
		</association>
		<association property="user" column="usid" javaType="Users">
			<id column="usid" property="usid" />
			<result column="uname" property="uname" />
		</association>
		<!-- <association property="user" column=""usid"" javaType="Users">
			<id column="usid" property=""usid"" />
		</association> -->
	</resultMap>
	<select id="findCollects" resultMap="CollectsMap" parameterType="String">
		select c.bid bid, b.bpic bpic,b.bname bname,b.bauthor bauthor from book b join collects c on b.bid=c.bid join users u on u.uname=#{uname}
		  and c.usid=u.usid
	</select>
	
	<select id="findBook" resultType="Book">
		select * from book
	</select>
</mapper>